-r dev-requirements.txt
exceptiongroup
google-api-python-client-stubs
google-auth-oauthlib
importlib-metadata
mypy-extensions
oauthlib
pyasn1-modules
requests-oauthlib
six
tomli
types-urllib3
typing-extensions
zipp
