backoff==2.2.1
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cloudevents==1.11.1
deprecation==2.1.0
Flask==3.1.1
functions-framework==3.8.3
google-api-core==2.24.2
google-auth==2.22.0
google-cloud-secret-manager==2.23.3
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
proto-plus==1.26.1
protobuf==5.29.4
pyasn1==0.6.1
pyasn1_modules==0.4.2
requests==2.32.3
rsa==4.9.1
six==1.17.0
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.5.0
watchdog==6.0.0
Werkzeug==3.1.3
