backoff==2.2.1
beautifulsoup4==4.12.2
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
Flask==2.3.3
google-api-core==2.24.2
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.2.0
google-cloud-secret-manager==2.19.0
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.62.3
gunicorn==20.1.0
httplib2==0.22.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
proto-plus==1.26.1
protobuf==4.25.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.2.3
requests==2.31.0
rsa==4.9.1
six==1.17.0
soupsieve==2.7
uritemplate==4.1.1
urllib3==1.26.20
Werkzeug==3.1.3
